# Dependencies
node_modules/
package-lock.json

# Environment Variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS & Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Temp & Artifacts
.temp/
.cache/
